.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.task_element {
  padding: 0.5rem 0.5rem;
  background-color: aliceblue;
  border-radius: 12px;
  margin-bottom: 10px;
}
.task_element .label_class {
  margin-bottom: 0;
}
.task_element .span_class,
.task_element .drag_indicator,
.task_element .delete {
  color: black;
}

.task_element:hover {
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-primary-hover-background);
  border-radius: 12px;
  margin-bottom: 10px;
}

.task_element:hover span {
  color: var(--pico-primary-inverse);
}

.task_element:hover input[type="checkbox"]:checked {
  border-color: var(--pico-primary-inverse);
}

.priority_mark {
  margin-left: auto;
  margin-right: 1rem;
}

.drag_indicator {
  margin-right: 2rem;
  cursor: grab;
}
